@model Admin.Models.semester
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-contact100">

    <div class="wrap-contact100">
        <div class="contact100-form-title" style="background-image: url('../../Images/bg-01.jpg'); ">
            <span class="contact100-form-title-1">
                Faculty Of Informations And Computers
            </span>

            <span class="contact100-form-title-2">
                All Permissions are Required To Adminstrator !
            </span>
        </div>




        @using (Html.BeginForm("Create", "Admin", FormMethod.Post, new { @class = "contact100-form validate-form" }))
            {



            <div class="form-group row">

                <div class="col-sm-10">
                    @*@Html.EditorFor(ww => ww.Id, new { htmlAttributes = new { @class = "form-control" } })*@
                    @* @Html.TextBoxFor(ww => ww.Id, new { @class = "form-control" })*@
                    @Html.HiddenFor(ww => ww.ID)
                </div>
                <div class="col-sm-10">

                </div>
            </div>



                <div class="wrap-input100 validate-input" name="Semester">

                    @Html.LabelFor(ww => ww.Semester, htmlAttributes: new { @class = "label-input100" })
                    <div class="col-sm-10">
                        @*<span class="label-input100">@Html.LabelFor(ww => ww.Departmenttxt)</span>*@


                        @Html.EditorFor(ww => ww.Semester, new { htmlAttributes = new { @class = "input100" } })
                    </div>
                    <div class="col-sm-10">
                        @Html.ValidationMessageFor(ww => ww.Semester)
                    </div>
                </div>
            /////////////////////////////////////////////////////

            <div class="wrap-input100 validate-input">

                @Html.LabelFor(ww => ww.SemesterFullName, htmlAttributes: new { @class = "label-input100" })
                <div class="col-sm-10">


                    @Html.EditorFor(ww => ww.SemesterFullName, new { htmlAttributes = new { @class = "input100" } })
                </div>
                <div class="col-sm-10">
                    @Html.ValidationMessageFor(ww => ww.SemesterFullName)
                </div>
            </div>
            /////////////////////////////////////////////////////////////

            <div class="wrap-input100 validate-input">

                @Html.LabelFor(ww => ww.SemesterArabicName, htmlAttributes: new { @class = "label-input100" })
                <div class="col-sm-10">

                    @Html.EditorFor(ww => ww.SemesterArabicName, new { htmlAttributes = new { @class = "input100" } })
                </div>
                <div class="col-sm-10">
                    @Html.ValidationMessageFor(ww => ww.SemesterArabicName)
                </div>
            </div>
            ////////////////////////////////////////////////////////

            <div class="wrap-input100 validate-input">

                @Html.LabelFor(ww => ww.SemesterEnumID, htmlAttributes: new { @class = "label-input100" })
                <div class="col-sm-10">

                    @Html.EditorFor(ww => ww.SemesterEnumID, new { htmlAttributes = new { @class = "input100" } })
                </div>
                <div class="col-sm-10">
                    @Html.ValidationMessageFor(ww => ww.SemesterEnumID)
                </div>
            </div>
            //////////////////////////////////////////////////////////////////
            <div class="wrap-input100 validate-input">

                @Html.LabelFor(ww => ww.StatusID, htmlAttributes: new { @class = "label-input100" })
                <div class="col-sm-10">

                    @Html.EditorFor(ww => ww.StatusID, new { htmlAttributes = new { @class = "input100" } })
                </div>
                <div class="col-sm-10">
                    @Html.ValidationMessageFor(ww => ww.StatusID)
                </div>
            </div>
            //////////////////////////////////////////////////////////////////////
       



                <center>
                    <div class="container-contact100-form-btn">
                        <button class="contact100-form-btn">
                            <span>
                                Create 
                                <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                </center>

        }
    </div>
</div>



